.hero-image{
    background-image: url(images/homehero.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bg{
    background: rgb(34,193,195);
    background: linear-gradient(118deg, rgba(34,193,195,1) 0%, rgba(143,190,108,1) 49%, rgba(34,193,195,1) 97%);
}

header nav{
    float: right;
    padding-right: 2em;
    padding: 5px;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 2em 0em 2em;
    transition: all 1s ease-out;
}

header nav a:hover {
    background-color: black;
    color: white;
    transition: 0.10s;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}


.gradient-text{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 4%, rgba(99,159,101,1) 22%, rgba(72,144,135,1) 25%, rgba(0,0,0,1) 39%, rgba(0,0,0,1) 57%, rgba(72,144,135,1) 71%, rgba(99,159,101,1) 74%, rgba(252,252,252,1) 94%);
}

.intro h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 35px;
    text-align: center;
    border: 2px #5cc648 solid;
}

.intro p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pic-container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr
}

.image{
    max-width: 100%;
    max-height:100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.text{
    font-size: 20px;
    text-align: left;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image2{
    max-width: 100%;
    max-height:100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.text2{
    font-size: 20px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image3{
    max-width: 100%;
    max-height:100%;
    float: right;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.text3{
    font-size: 20px;
    float: left;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 2rem;
}

.article-image{
    margin: 0;
    padding: 0;
}

.article-image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.article-card{
    background: white;
    border-radius: 20px;
    transition: 0.3s;
}

.article-card:hover{
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
}

.article-content{
    padding: 2rem;
}

.article-content .card-category{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #6b82a7;
    display: block;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.article-content .card-title{
    margin: 1rem 0;
    color: #22447b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.article-content .card-excerpt{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

footer{
    text-align: center;
}